.field {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    background: #101014;
    border: 1px solid #3C3C41;
    padding: 16px 24px;
    cursor: text;
}

.field__label {
    color: #B6B6BF;
    white-space: nowrap;
    opacity: 0.4;
    font-size: 13px;
    margin-right: 20px;
}

.field__input {
    color: white;
    height: 18px;
    padding: 0;
    min-width: 1px;
    flex-grow: 1;
}

.field__input_auto-resizable {
    flex-grow: initial;
}

.field__input::placeholder {
    opacity: 0.6;
}

.field__clear {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    margin-right: 20px;
    margin-left: 10px;
}

.field__clear-icon {
    width: 16px;
    height: 16px;
}

.field__unit {
    color: #B6B6BF;
    white-space: nowrap;
    opacity: 0.4;
    font-size: 13px;
    margin-left: auto;
}

.field__error {

}
