.btn-icon {
    width: 18px;
    height: 18px;
}

.btn1 {
    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;
    background: none;
}

.btn1-label {
    white-space: nowrap;
    margin-left: 16px;
}

.btn2 {
    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;
    border-radius: 10px;
    background: #D9D000;
    box-shadow: 0 10px 20px -10px rgba(217, 208, 0, 0.60);
}

.btn2-label {
    white-space: nowrap;
    margin-right: 16px;
}
