.login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 65px 0;
}

.login__logo {
    max-width: 340px;
    height: 24px;
    margin-bottom: 50px;
}

.login__form {
    width: 100%;
    margin-bottom: 50px;
}

.login__inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.login__input {
    margin-bottom: 5px;
    width: 100%;
}

.login__input:last-child {
    margin-bottom: 0;
}


.login__submit {
    width: 100%;
}

.login__oauths {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.login__oauth {
    margin-right: 20px;
}

.login__oauth:last-child {
    margin-right: 0;
}


.login__oauth-logo {
    width: 32px;
    height: 32px;
}

.login__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__link {
    font-size: 13px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    margin-bottom: 5px;
}

.login__link:last-child {
    margin-bottom: 0;
}

