svg {
    width: 100%;
    height: 100%;
}

.download-icon {
    stroke-width: 1.5px;
    stroke-linecap: square;
}

.context-icon {
    fill: #B6B6BF;
}

.burger-icon {
    stroke: #141419;
    stroke-width: 2px;
    stroke-linecap: square;
    stroke-linejoin: round;
}

.close-burger-icon {
    stroke: #141419;
    stroke-width: 2px;
    stroke-linecap: square;
    stroke-linejoin: round;
}

.save-icon {
    fill: none;
    stroke: #141419;
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.delete-icon {
    stroke: #141419;
    stroke-width:1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.dropdown-icon {
    stroke: #141419;
    stroke-width: 1.5px;
}

.play-icon {
    fill: currentColor;
}

.folder-icon {
    stroke:#B6B6BF;
    stroke-width:2;
    stroke-linecap:round;
    stroke-linejoin:round;
}

.edit-icon {
    stroke:#B6B6BF;
    stroke-width:1.5;
    stroke-linecap:square ;
}

.logout-icon {
    stroke:#B6B6BF;
    stroke-width:1.5;
    stroke-linecap:square;
}

.check-icon {
    stroke:#B6B6BF;
    stroke-width: 1.5;
    stroke-linecap:square;
}

.back-icon {
    stroke: #B6B6BF;
    stroke-width: 1.5;
    stroke-linecap: square;
}
