.main {
    border-radius: 10px;
    padding: 10px 40px;
    background: url("../../assets/images/background.png") no-repeat fixed center;
    background-size: cover;
    overflow: hidden;
}

.main-aside-open {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/images/background.png");
}
