.aside {

}

.aside__trigger {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.aside__trigger-icon {
    width: 24px;
    height: 24px;
}

.aside-bar {
    margin-left: 45px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.aside__profile {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 20px;
}

.aside__profile-name {
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    margin-right: 20px;
}

.aside__profile-avatar {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.profile__avatar-icon {
    border-radius: 30px;
}

.aside__navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 420px;
    margin-bottom: 20px;
}

.aside__navbar-link {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02em;
    padding: 5px 0;
    opacity: .8;
    transition: opacity 0.2s ease;
}

.aside__navbar-link:hover {
    opacity: 1;
}

.aside__navbar-ling_active {
    opacity: 1;
}

.aside__version {
    display: flex;
    justify-content: flex-end;
    height: 30px;
}

.aside__version-text {
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
    letter-spacing: -0.02em;
}
