.servers {
    width: 680px;
    max-height: 466px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -5px -5px;
    overflow-y: scroll;
}

.servers::-webkit-scrollbar {
    width: 2px;
    border-radius: 4px;
    background: #18181F;
}

.servers::-webkit-scrollbar-thumb {
    background-color: #212129;
    border-radius: 4px;
}

.servers__server-card {
    width: 210px;
    height: 228px;
    margin: 0 5px 10px;
}

